<header>
  <center>
  <div id="index-cover">
    <h1>Travel App</span>NY</h1>
    <h2>Tagline!</h2>
    <br><br>
    <br><br>
    <br><br>
    <% if !current_user %>
      <a href="/auth/facebook">Log in with Facebook</a>
    <% end %>
  </div>
  <br>
  <br>
  <br>
  </center>
</header>